<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin_Change</title>
    <link rel="stylesheet" href="/assest/css/pageMenu.css">
    <link rel="stylesheet" href="/assest/css/Pin.css">
</head>
<body>
    <h1>Pin_Change</h1>
    <hr>
    <div class="menuContainer">
        <div class="Info">
            <a href="/myAccountinfo" id="Info">Account Info</a>
        </div>
        <div class="Deposit">
            <a href="/Deposit" id="Deposit">Money Deposit</a>
        </div>
        <div class="Withdrawal">
            <a href="/Withdrawal" id="withdrawal">Money Withdrawal</a>
        </div>
        <div class="Pin_Change">
            <a href="/pinChange" id="Pin">Pin Change</a>
        </div>
    </div>
    <div class="main">
        <div class="form">
            <form action="/pinChange" method="POST">
                <label>Old Pin</label>
                <input type="password" placeholder="Enter Old Pin" name="oldPin" maxlength="4" required>
                <br>
                <label> New Pin</label>
                <input type="password" name="newPin" placeholder="Enter New Pin" maxlength="4" required>
                <br>
                <button type="submit">Change</button>
            </form>
        </div>
    </div>
</body>
</html>