<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/assest/images/Info.jpg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM</title>
    <link rel="stylesheet" href="/assest/css/front.css">
    <style>
        body a{
            font-size: 18px;
            font-weight: bold;
            color: rgb(255, 255, 255);
        }
         
    </style>
</head>

<body >
    <a href="/english" id="english" >English</a>
    <a href="/hindi" id="hindi">Hindi</a>
</body>

</html>