<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Login</title>
    <link rel="stylesheet" href="/assest/css/Login.css">
    <link rel="stylesheet" href="/assest/css/pageMenu.css">
</head>
<body>    
    <div class="main">
        <div class="form">
            <form action="/login" method="POST">
                <h1>Secret_PIN</h1>
                <hr>
                <label>Enter 4 Digit PIN</label>
                <input type="password" name="password" placeholder="Enter PIN" required>
                <br>
                <button type="submit">Enter</button>   
            </form>
        </div>
    </div>
</body>
</html>