<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harsh_ATM</title>
    <link rel="stylesheet" href="/assest/css/Menu.css">
</head>

<body>
    
        <div class="Info">
            <a href="/myAccountinfo" id="Info">Account Info</a>
        </div>
        <div class="Deposit">
            <a href="/Deposit" id="Deposit">Money Deposit</a>
        </div>
        <div class="Withdrawal">
            <a href="/Withdrawal" id="withdrawal">Money Withdrawal</a>
        </div>
        <div class="Pin_change">
            <a href="/pinChange" id="Pin">Pin Change</a>
        </div>
    
</body>

</html>