<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money_Withdrawal</title>
    <link rel="stylesheet" href="/assest/css/Withdraw.css">
    <link rel="stylesheet" href="/assest/css/pageMenu.css">
</head>
<body>
    <h1>Money_Withdrawal</h1>
    <hr>
    <div class="menuContainer">
        <div class="Info">
            <a href="/myAccountinfo" id="Info">Account Info</a>
        </div>
        <div class="Deposit">
            <a href="/Deposit" id="Deposit">Money Deposit</a>
        </div>
        <div class="Withdrawal">
            <a href="/Withdrawal" id="withdrawal">Money Withdrawal</a>
        </div>
        <div class="Pin_Change">
            <a href="pinChange" id="Pin">Pin Change</a>
        </div>
    </div>
    <div class="main">
        <div class="form">
            <form action="/widhdraw" method="POST">
                
                <label>Withdraw Money</label>
                <input type="number" name="withdraw" placeholder="Enter Money" required>
                <br>
                <button type="submit">Withdraw</button>   
            </form>
        </div>
    </div>
</body>
</html>